This is the example of using EM-algorithm to impute missing data. <br> In this case we use the data of air pollution, and the goal is to perform regression analysis to predict the value of PM2.5.<br>
To simulate the condition of a dataset with missing values, we will pick random rows and replace some features with NaN.<br>
In the end we will compare the R-squared value of EM-algorithm, original data and baseline method(KNN) as a metric.

In [1]:
import sys
import os
print(os.path.dirname(os.getcwd()))
sys.path.append(f'{os.path.dirname(os.getcwd())}')

D:\大學\EDASH\EDASH

In [2]:
import numpy as np
import pandas as pd
import Imputers.utils as utils
import Imputers.em as em
import DataQuality.continuous as continuous
from datetime import datetime

In [3]:
m_X_train = pd.read_csv("./data/Gas Sensor Drift Dataset/miss_25/X_train.csv")
m_Y_train = pd.read_csv("./data/Gas Sensor Drift Dataset/miss_25/y_train.csv")
m_X_test = pd.read_csv("./data/Gas Sensor Drift Dataset/miss_25/X_test.csv")
m_Y_test = pd.read_csv("./data/Gas Sensor Drift Dataset/miss_25/y_test.csv")

In [4]:
missing_df = pd.concat([m_X_train, m_X_test], axis=0)

In [ ]:
result_imputed = em.impute_em(missing_df, 20, 1e-05,True)

C:\Users\kogby\miniconda3\envs\Jupyter\lib\site-packages\numpy\lib\function_base.py:518: RuntimeWarning: Mean of empty slice.
  avg = a.mean(axis, **keepdims_kw)
C:\Users\kogby\miniconda3\envs\Jupyter\lib\site-packages\numpy\core\_methods.py:184: RuntimeWarning: invalid value encountered in divide
  ret = um.true_divide(
D:\大學\EDASH\EDASH\Imputers\em.py:37: RuntimeWarning: Degrees of freedom <= 0 for slice
  S = np.cov(X[observed_rows,].T)
C:\Users\kogby\miniconda3\envs\Jupyter\lib\site-packages\numpy\lib\function_base.py:2705: RuntimeWarning: divide by zero encountered in divide
  c *= np.true_divide(1, fact)
C:\Users\kogby\miniconda3\envs\Jupyter\lib\site-packages\numpy\lib\function_base.py:2705: RuntimeWarning: invalid value encountered in multiply
  c *= np.true_divide(1, fact)

Iteration 1/20
Iteration 2/20
Iteration 3/20
Iteration 4/20
Iteration 5/20
Iteration 6/20
Iteration 7/20
Iteration 8/20
Iteration 9/20
Iteration 10/20

The imputed data

In [7]:
result_imputed['X_imputed']

,feat_9,feat_65,feat_11,feat_12,feat_67,feat_14,feat_68,feat_73,feat_69,feat_1,...,feat_21,feat_104,feat_112,feat_34,feat_48,feat_32,feat_40,feat_29,feat_50,feat_58
0,80127.020500,89066.596868,24.049747,38.883483,25.634138,-17.922769,36.743910,70505.977100,45.613506,38371.220600,...,31.689909,-6.759002,-6.461271,3.919016,-6.310950,-40.064219,-7.001884,33.068677,5.256240,5.293018
1,3994.906200,1371.974600,0.855557,1.405853,0.402949,-0.941168,0.793008,630.006900,5.288113,1617.606000,...,8.790257,-2.741675,-2.824765,1.718656,-3.117252,-7.343895,-3.989644,9.280606,4.041186,4.347944
2,9495.004799,12788.556200,2.405838,3.093387,2.281033,-2.148859,2.868125,10412.824700,3.332136,12555.798900,...,20.539609,-3.759792,-3.600883,5.929824,-3.110407,-12.923158,-3.627259,21.088823,13.811839,13.891948
3,21040.205457,21429.613300,5.033300,8.510600,5.328100,-4.529376,8.550223,16735.558546,22.981700,12502.751000,...,6.146800,-5.844700,-5.947700,1.950500,-4.203400,-6.857600,-4.565500,6.053700,2.688800,2.704300
4,41302.083500,32388.739200,11.882996,19.091307,8.124052,-7.533995,11.224159,27816.807100,12.151259,39942.652067,...,6.813397,-2.478956,-2.214229,2.229186,-1.830413,-4.788755,-1.630849,7.057442,4.136518,4.102370
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13905,37239.475100,27690.390100,10.733777,12.970419,6.981733,-5.948088,9.008170,21377.025400,13.463354,25555.114200,...,21.769776,-5.049777,-5.003314,5.702981,-3.686458,-16.329756,-4.111673,34.926416,12.738638,13.834302
13906,5967.971100,2481.697000,1.231430,1.549247,0.451234,-0.930576,0.591548,1982.192600,1.063377,4615.283506,...,20.826440,-2.860754,-2.870795,2.451012,-2.176312,-10.694164,-1.535569,21.243428,7.578649,7.703050
13907,218099.800800,179740.490300,52.603558,76.838475,45.643097,-2.384209,70.934202,146832.496100,97.449202,147325.498100,...,15.222229,-7.599025,-6.190611,7.079544,-4.571406,-11.672249,-4.961312,15.389633,16.483731,15.895653
13908,2257.013700,2023.651400,0.282856,0.489725,0.211132,-0.225044,0.229189,2142.478347,0.860661,2038.554600,...,1.650646,-0.783834,-0.658606,1.908604,-0.389752,-1.313110,-0.405134,2.109191,4.202530,4.124509
13909,20108.225600,12390.030673,6.155097,8.722554,2.640724,-3.660533,3.837091,7132.998100,6.390933,8134.060800,...,43.884878,-4.762276,-5.079287,2.637436,-4.358049,-23.302210,-4.790998,44.812136,6.361652,6.579539

Check how many E-step & M-step are iterated, and check if there's still NaN values.

In [8]:
# There's no NaN
print("Count of NaN values: \n", np.isnan(result_imputed['X_imputed']).sum())
print("The iterations count is: ", result_imputed['iteration'])

Count of NaN values:
 feat_9     0
feat_65    0
feat_11    0
feat_12    0
feat_67    0
          ..
feat_32    0
feat_40    0
feat_29    0
feat_50    0
feat_58    0
Length: 128, dtype: int64
The iterations count is:  5

Regression analysis on imputed data (EM)

In [ ]:
imputed_df = result_imputed['X_imputed']
# display(X)
X = sm.add_constant(imputed_df)
y= truth_df['PM2.5'].values
model = sm.OLS(y,X).fit()
print(f"R-squared is: {model.rsquared:.4f} ")
print(f"Adj R-squared is: {model.rsquared_adj:.4f} ")

Regression analysis on Original data

In [10]:
# truth_X = truth_df.drop("PM2.5",axis=1)
# truth_X = sm.add_constant(truth_X)
# y= truth_df['PM2.5'].values
# model = sm.OLS(y,truth_X).fit()
# print(f"R-squared is: {model.rsquared:.4f} ")
# print(f"Adj R-squared is: {model.rsquared_adj:.4f} ")

Regression analysis on imputed data (KNN)

In [ ]:
imputer = KNNImputer(n_neighbors=3)
knn_X = imputer.fit_transform(missing_df)
knn_X_df = pd.DataFrame(knn_X, columns=missing_df.columns)
knn_X = sm.add_constant(knn_X)
y=truth_df['PM2.5'].values
model = sm.OLS(y,knn_X).fit()
print(f"R-squared is: {model.rsquared:.4f} ")
print(f"Adj R-squared is: {model.rsquared_adj:.4f} ")

Based on KNN and EM algorithm, compare the imputed data. <br>
Note: The input should be dataFrame

In [ ]:
con = continuous()
frame = con.comparison(knn_X_df, result_imputed['X_imputed'])